.header{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    color:white !important;
}
.navbar{
    position: absolute;
    top: 50px;
    display: flex;
    align-items: center;
}
.bg{
    background-color:#d9d9d9 ;
    width: 100%;
    max-width: 1440px;
    height: 728px;
    position: absolute;
    overflow: hidden;
}
.text{
    z-index: 99;
    width: 1090px;
}
.textArea{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}
.textInner{
    display: flex;
    flex-direction: column;
}
.textInner article{
    width: 420px;
    margin-bottom: 34px;
    font-size: 36px;
}
.textInner p{
    font-weight: medium;
    font-size: 24px;
}
.strip{
    background-color: #A0A0A0;
    height: 685px;
    width: 424px;
}