.header{
    background: linear-gradient(180deg, rgba(4,106,208,1) 15%, rgba(33,33,33,0.78) 85%);
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    color:white;
    /* border:1px solid white; */
}
.navbar{
    width:100%;
    margin:50px 0px 5px 0px;
    /* position: absolute; */
    /* top: 50px; */
    display: flex;
    align-items: center;
}
.text{
    z-index: 99;
    width: 1090px;
}
.textArea{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}
.textInner{
    display: flex;
    flex-direction: column;
}
.textInner article{
    width: 420px;
    margin-bottom: 34px;
    font-size: 36px;
}
.textInner p{
    font-weight: medium;
    font-size: 24px;
}
.banner{
    margin-bottom:0;
    background-image: url("/assets/image-header-dark-desktop.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
    width:470px;
    height:470px;
    /* border:1px solid white; */
}