.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: calc(100% - 20px);
  margin: 10px auto;
  padding: 28px 32px;
  background: #000000;
  border-radius: 10px;
  z-index: 10;
}

.privacyNotice {
  display: flex;
  align-items: center;
  padding: 28px 32px;
  max-width: 100%;
  gap: 52px;
}

.privacyNotice .text {
  width: 1130px;
  flex-shrink: 1;
}

.privacyNotice p {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ededed;
}

.privacyNotice a {
  color: #046ad0;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.privacyNotice button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 352px;
  height: 66px;
  padding: 24px 32px;
  border-radius: 10px;
   background-color: #046ad0;
  justify-content: center;
  align-items: center;
  padding: 10px 2px;
  font-size: 24px;
  color: #ededed;
}

@media (max-width: 960px) {
  .privacyNotice {
    flex-direction: column;
    gap: 32px;
  }
  .privacyNotice .text {
    width: 100%;
    text-align: center;
  }
}
