.HeroHomeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0px 32px;
  overflow: hidden;
}

.skillsContainer,
.careerContainer {
  max-width: 144rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.skillsContainer {
  justify-content: center;
}

.careerContainer {
  flex-direction: row-reverse;
}

.skillsContainer h1,
.careerContainer h1 {
  margin-bottom: 5.2rem;
}

.textContent,
.imageContainer {
  flex: 1 1 0;
}

.textContent {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.imageContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.image1 {
  position: relative;
  margin-right: -120px;
  max-width: 120%;
}

.image2 {
  margin-left: -120px;
  max-width: 120%;
}

.HeroHomeContainer p {
  margin-bottom: 4rem;
  max-width: 42ch;
}

@media (max-width: 960px) {
  .skillsContainer,
  .careerContainer {
    align-items: center;
    flex-direction: column;
  }

  .skillsContainer h1,
  .careerContainer h1 {
    margin-bottom: 3.2rem;
  }

  .HeroHomeContainer p {
    margin-bottom: 2rem;
  }

  .imageContainer {
    margin: 0;
  }

  .HeroHomeContainer h1,
  .HeroHomeContainer p {
    /* text-align: center; */
    max-width: 100%;
  }

  .tittle {
    font-size: 3.2rem;
    line-height: 3.8rem;
  }

  .image1,
  .image2 {
    min-width: 100%;
    margin: 0;
  }
  .image1 {
    margin-bottom: 50px;
  }
}
