.FaqSection,
.formSection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 72px 32px;
}

.tabContainer {
  display: flex;
  max-width: 1084px;
  justify-content: center;
  display: flex;
  max-width: 109.9rem;
  gap: 4rem;
  font-family: "Radio Canada", sans-serif;
}

.tabList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.tabContainer div ul li {
  background-color: transparent;
  border: none;
  color: #fff;
  list-style: none;
}

.tabContainer div ul li[aria-selected="true"] {
  border: none;
  border-bottom: 2px solid #007bff;
  color: #007bff;
}

.tabContainer div ul li[aria-selected="true"]::after {
  display: none;
  border: none;
}

.tabPanel {
  width: 100%;
}

.accordion {
  padding: 80px 0;
}

.accordion button {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 1rem 0;
  font-size: 1rem;
  text-align: left;
  background-color: transparent;
  border: none;
}

.accordionItem {
  padding: 45px 80px;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.accordionItem {
  color: #ededed;
  gap: 10px;
  width: 889px;
}

.accordionTitle {
  font-size: 20px;
  line-height: 24px;
}

.accordionParagraph {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
}

.accordionItem p {
  font-size: 15px;
  color: #ededed;
  padding: 15px 0;
}

/*FORM*/

.form {
  width: 1084px;
}

.labelInput {
  padding-bottom: 20px;
  width: 100%;
}

.formSection h1 {
  width: 100%;
  height: 58px;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
}

.formSection h3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  margin-top: 15px;
}

.formRadios {
  display: flex;
  width: 50px;
  margin: 0;
  gap: 100px;
}

.radios {
  display: flex;
  gap: 50px;
  justify-content: flex-start;
  padding: 25px 0;
  font-size: 18px;
  color: #fff;
}

.radios[type="radio"] + label {
  color: red;
}

.radiosContainer {
  display: flex;
  gap: 10px;
}

.area {
  margin-top: 20px;
}

.description {
  font-family: "Radio Canada";
  font-style: normal;
  text-align: center;
}

.description h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
}

.description h3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
}

.error{
  color: red;
  margin-top: 1rem;
  padding-left: 0.5rem;
  font-size: 15px;
}

.button {
  width: 91px;
  height: 30px;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  background: #046ad0;
  border: 2px solid #ededed;
  border-radius: 5px;
  color: #ededed;
  margin-top: 2rem;
}


