

.tabContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 50px;
}

.tabList{
  display: flex;
  justify-content: center;
  align-items: center;
}


.titleH1 {
  
  color: #1165BA;
  border-bottom: 2px solid #1165BA;
}


.react-tabs {
  width: 100%;
}

.tabPanel {
  width: 100%;

  /*background-color: #007bff;*/
}

.itemBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 1rem;
  font-size: 1rem;
  text-align: left;
  color: #007bff;
  background-color: transparent;
  border: none;
}

.p {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
}

.hide {
  display: none;
}



.accordionItem {
  color: #EDEDED;
  gap: 10px;
  width: 889px;
  padding-top: 1rem;
  margin: 10px;
  align-items: flex-start;
}

.accordionh1 {
  font-size: 20px;
  line-height: 24px;
}

.accordionItem p {
  font-size: 15px;
  color: #EDEDED;
  padding: 15px 0;
}

.formSection h1 {
  width: 100%;
  height: 58px;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
}

.formSection h3{
  font-weight: 400;
font-size: 32px;
line-height: 120%;
text-align: center;
margin-top: 15px;
}

/*FORM*/

.form{
  display: flex;
  justify-content: flex-start;
  margin: 50px auto;
  flex-direction: column;
  width: 1100px;
  
 
}

.formCheckbox{
  display: flex;
  width: 300px;
  margin: 0;
  gap: 100px;
}

.formbox{
 display: inline-flex;
  width: 50px;
  padding-bottom: 25px;  
  
}

.area{
  margin: 50px;
}

.area textarea{
width: 1000px;
height: 194px;
margin-top: 10px;
background: #FFFFFF;
border-radius: 3px;
}

.button{
width: 91px;
height: 30px;
font-style: normal;
text-transform: uppercase;
font-weight: 400;
font-size: 14px;
line-height: 18px;
background: #046AD0;
border: 2px solid #EDEDED;
border-radius: 5px;
color:  #EDEDED;
margin-top: 2rem;
}
