@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

.sectionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.divs {
  margin: 50px;
  
}


.p {
  
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
}