.TitleH1,
.TitleH2,
.TitleH3,
.TitleH4 {
  color: #ede;
  margin-bottom: 5.2rem;
}

.TitleH1 {
  font-size: 56px;
  font-weight: regular;
  line-height: 120%;
}

.TitleH3 {
  font-size: 36px;
  font-weight: light;
  line-height: 150%;
}

.TitleH4 {
  font-size: 24px;
  font-weight: light;
  line-height: 150%;
}
