.DepositionsSection,
.container,
.wrapper,
.depositionsCollaborators {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.DepositionsSection {
  padding: 0 3.2rem;
  flex-direction: column;
  gap: 6.2rem;
  padding: 0 32px;
}

.container {
  max-width: 144rem;
  flex-direction: column;
  padding-bottom: 6.8rem;
}

.wrapper {
  gap: 5.4rem;
  width: 100%;
  flex-wrap: wrap;
}

.cardWrapper {
  padding: 0 6rem;
  width: 100%;
}

.depositionsCollaborators {
  flex: 1;
  flex-direction: column;
}
.depositionsCards {
  flex: 2;
  display: flex;
  align-items: center;
  width: 480px;
  flex-direction: column;
}

.depositionsTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 3.625rem;
  text-align: center;
  padding-bottom: 7.2rem;
}

.collaborator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 28px;
}

.collaboratorImg {
  border-radius: 50%;
  margin-left: -28px;
  object-fit: cover;
  border-radius: 50%;
}

.subTitle {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  line-height: 2.375rem;
  padding-top: 2.5rem;
}

@media (max-width: 960px) {
  .depositionsCards {
    flex: 2;
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
  }
  .cardWrapper {
    padding: 0;
    width: 100%;
  }
}
