.card,
.card2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 7.9rem;
  width: 100%;
  padding: 100px 32px;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  background-image: url("/assets/iniciativa/fundo-verde.svg");
}
.card2 {
  background-image: url("/assets/iniciativa/fundo-estrelas.svg");
  opacity: 0.8;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: space-between;
  max-width: 144rem;
  width: 100%;
}

.content {
  width: 100%;
  flex: 1 1 0;
  gap: 3.2rem;
  flex-direction: column;
  display: flex;
  text-align: initial;
  justify-content: center;
  align-items: flex-start;
}

.image {
  width: 100%;
  flex: 1 1 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img {
  border-radius: 50%;
  width: 492px;
}

.title {
  color: #ededed;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 58px;
  text-align: center;
}

.subtitle {
  color: #ededed;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
}

.paragraph {
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #ededed;
  padding-bottom: 4rem;
  filter: brightness(10);
}

.button {
  width: 544px;
  height: 75px;
  padding: 16px 32px;
  background: #046ad0;
  color: #ededed;
  border: none;
  outline: none;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 18px;
  margin-bottom: 30px;
}

@media (max-width: 960px) {
  .card,
  .card2 {
    height: 150vh;
    gap: 0;
  }
  .container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 0;
  }
  .content {
    align-items: center;
    text-align: center;
    padding-left: 0;
  }

  .title {
    font-size: 3.2rem;
    line-height: 120%;
    padding-bottom: 5.2rem;
  }

  .subtitle {
    padding-top: 0;
  }

  .paragraph {
    font-size: 2.4rem;
    line-height: 2.8rem;
    padding-bottom: 0rem;
  }
  .button {
    width: 100%;
    font-size: 2.3rem;
  }
  .image {
    padding-bottom: 3.2rem;
  }
}
