.card,
.card2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 7.9rem;
  width: 100%;
  min-height: max-content;
  padding: 10rem 3.2rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  background-image: url("/assets/iniciativa/fundo-verde.svg");
}
.card2 {
  background-image: url("/assets/iniciativa/fundo-estrelas.svg");
  opacity: 0.8;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  max-width: 144rem;
  width: 100%;
}

.content {
  width: 100%;
  flex: 1 1 0;
  gap: 3.2rem;
  flex-direction: column;
  display: flex;
  text-align: initial;
  align-items: flex-start;
}

.image {
  width: 100%;
  flex: 1 1 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img {
  border-radius: 50%;
  width: 492px;
}

.card h2 {
  text-align: center;
}

.container p {
  max-width: 32ch;
}

.button {
  width: 544px;
  height: 75px;
  padding: 16px 32px;
  background: #046ad0;
  color: #ededed;
  border: none;
  outline: none;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 18px;
  border: none;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .card,
  .card2 {
    justify-content: space-evenly;
    gap: 0;
    min-height: 1200px;
    padding: 7.2rem 3.2rem;
  }
  .container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
  }
  .content {
    align-items: center;
    text-align: center;
    gap: 1.2rem;
  }

  .card h2,
  .card2 h2,
  .container h2 {
    padding-bottom: 2.2rem;
    text-align: center;
    line-height: 120%;
  }

  .button {
    width: 100%;
    font-size: 2.3rem;
    border-radius: 10px;
  }
  .image {
    padding-bottom: 6rem;
  }
}
