.Footer {
  font-family: inherit;
  display: flex;
  place-content: center;
  padding: 112px 32px;
  position: relative;
  margin-top: 12rem;
}

.Footer::before {
  content: "";
  background-size: cover;
  position: absolute;
  inset: 0;
  background: url("/assets/footer-background.svg") repeat,
    linear-gradient(180deg, #046ad0 0%, #0575e7 100%);
  background-size: contain;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 8rem;
  max-width: 144rem;
  width: 100%;
  z-index: 1;
}

.logoWrapper {
  align-self: center;
  min-width: max-content;
}

.footerContent {
  display: flex;
  flex-wrap: wrap;
  gap: 8rem;
}

.about,
.contact,
.social {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}

.social {
  flex: 1;
  width: 100%;
  align-items: center;
}

.socialIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 39px;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  max-width: 60%;
}
.icons a {
  font-size: 3.7rem;
  padding: 0;
  margin: 0;
  object-fit: contain;
}

.list {
  display: flex;
  flex-direction: column;
  width: max-content;
  justify-content: flex-start;
  list-style: none;
  gap: 2.8rem;
  font-weight: 500;
  font-size: 2.4rem;
  font-family: inherit;
  transition: all 0.3s;
}
.list a {
  cursor: pointer;
}

.list a:hover,
.icons svg:hover {
  opacity: 0.8;
}

@media (max-width: 1020px) {
  .container {
    flex-direction: column;
    gap: 5.2rem;
  }

  .logoWrapper {
    align-self: self-start;
  }

  .social {
    flex: 2;
  }

  .icons {
    gap: 22px;
    max-width: 60%;
    flex-wrap: nowrap;
  }
}

@media (max-width: 560px) {
  .Footer {
    padding: 0 32px;
  }
  .Footer::before {
    background: url("/assets/footer-background.svg") repeat bottom,
      linear-gradient(180deg, #046ad0 0%, #0575e7 100%);
    background-size: cover;
  }
  .container {
    width: 100%;
    flex-direction: column;
    padding: 7.2rem 0;
  }
  .footerContent {
    width: 100%;
  }

  .about,
  .contact,
  .social {
    width: 100%;
    justify-content: flex-start;
  }
  .title {
    font-size: 20px;
    margin-bottom: 16px;
  }
  .icons {
    font-size: 1.6px;
    flex-wrap: wrap;
    max-width: 70%;
  }
}
