.HeaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60vh;
  padding: 72px 32px;
  margin-bottom: 5rem;
  color: white;
  /* background: linear-gradient(
    180deg,
    #046ad0 8%,
    rgba(23, 17, 35, 0.78) 91.75%
  ); */
}

.HeaderWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 108.9rem;
}

.navbar {
  width: 100%;
  /* margin: 5rem 0rem 0.5rem 0rem; */
  display: flex;
  align-items: center;
}

.menuHamburger {
  display: none;
}

.logo {
  flex: 1;
}

.menu {
  flex: 2;
}

.front {
  max-width: 108.9rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
}

.front::after {
  content: "";
  position: relative;
  display: flex;
  justify-content: center;
  width: 1453px;
  height: 47rem;
  bottom: -70px;
  background: url("/assets/BannerV2.svg") no-repeat center/contain;
}

/* .bannerArea {
  display: flex;
  width: 100%;
  position: absolute;
  justify-content: center;
  margin-bottom: 100px;
} */

/* .stars {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 70%;
  top: 7.5rem;
  z-index: 2;
} */

/* .starOne {
  background-image: url("/assets/Stars1.png");
  height: 9.2rem;
  width: 7rem;
  transform: rotate(90deg);
}

.starTwo {
  background-image: url("/assets/Stars2.png");
  height: 9.2rem;
  width: 7rem;
  padding-top: 100px;
} */

.textArea {
  /* max-width: 110rem; */
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Radio Canada";
  font-weight: 700;
  font-size: 48px;
  text-align: center;
}

.textInner {
  display: flex;
  flex-direction: column;
  max-width: 120ch;
  width: 100%;
}

.textInner article {
  width: 100%;
  margin-bottom: 5.4rem;
  font-size: 46px;
  text-align: center;
}

.textInner p {
  width: 100%;
  text-align: center;
  font-weight: lighter;
  font-size: 2.4rem;
}

@media (max-width: 900px) {
  .navbar {
    padding: 0 32px;
  }

  .textArea {
    justify-content: space-evenly;
  }

  .textInner {
    margin: 1rem;
  }

  .menu {
    display: none;
  }

  .menuHamburger {
    display: block;
    cursor: pointer;
  }
}

@media (max-width: 570px) {
  .front {
    background-image: url("/assets/Hero.svg");
  }
}

@media (max-width: 414px) {
  .header {
    padding: 2rem;
  }

  .header,
  .textArea {
    flex-direction: column;
  }

  .front {
    width: 100%;
    margin: 0rem;
  }

  .navbar {
    margin-top: 3.8rem;
    margin-bottom: 10.2rem;
  }

  .frontBottom {
    display: flex;
    flex-direction: column-reverse;
  }

  .textArea {
    width: 100%;
  }

  .banner {
    background-image: url("/assets/bannerGroupMobile.svg");
  }

  .stars {
    width: 85%;
    top: 8rem;
  }

  .textInner article {
    font-size: 3.8rem;
  }

  .textInner p {
    width: 100%;
    font-size: 2.8rem;
    text-align: center;
  }
}
