.menuNav {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.linkNav {
  color: #fff;
  font-weight: 700;
  padding: 0rem 0rem 0.3rem 0rem;
  font-size: 2rem;
  font-weight: lighter;
  margin: 0 1rem;
  transition: 1s;
}

.linkNav:hover {
  box-shadow: 0 2px 0px 0 white;
}

@media (max-width: 900px) {
  .menuNav {
    flex-direction: column;
    position: absolute;
    right: 1rem;
    z-index: 99;
    border-radius: 0.25rem;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    justify-content: flex-start;
  }

  .linkNav {
    margin: 3rem 1rem;
    font-size: 24px;
    color: #046ad0;
    font-weight: 400;
    text-align: left;
    padding: 0 8rem 0 1rem;
  }

  .linkNav:first-child {
    border-left: none;
  }
}

@media (max-width: 414px) {
  .menuNav {
    justify-content: flex-start;
  }
}