.menuNav{
    list-style: none;
    display: flex;
    margin-left: 50px;
}
.linkNav{
    color:white;
    padding: 3px 10px;
    font-weight: bold;
}
.linkNav:first-child{
    border-left: 2px solid white;
}