.MissionSection,
.ValuesSection,
.bannerContainer {
  width: 100%;
  padding: 0 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 6.2rem;
  padding: 0 32px;
}

.bannerContainer {
  padding: 72px 32px;
  text-align: center;
}

.bannerContainer h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  justify-self: center;
}

.container {
  max-width: 140rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.title {
  color: #046ad0;
  font-weight: 700;
  font-size: 3.2rem;
  padding-bottom: 3.2rem;
}

.contentMissionWrapper {
  display: flex;
  justify-content: center;
  gap: 13.2rem;
  flex-wrap: wrap;
  z-index: 2;
}

.contentMissionWrapper h4,
.textContent h4 {
  font-weight: 500;
}

.contentMissionWrapper p {
  font-size: 1.6rem;
}

.boxText {
  flex: 0 0 368px;
  min-height: 372px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  text-align: center;
  padding: 3.4rem;
  border-radius: 6.2rem;
  background-color: #0465cd;
  position: relative;
}

.boxText::before {
  content: "";
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #6297cc;
  rotate: 348deg;
  position: absolute;
  z-index: -1;
  border-radius: inherit;
  inset: 0 1px 2px 0;
}

.wrapperValues {
  z-index: 2;
}

.boxValues {
  display: flex;
  height: 772px;
  width: 100%;
  background: url("../../public/assets/cover-valores.svg") no-repeat;
  background-color: #046ad0;
  border-radius: 6rem;
  align-items: center;
  justify-content: flex-end;
  padding: 3.2rem;
  position: relative;
}

.boxValues::before {
  content: "";
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #6297cc;
  rotate: 355deg;
  position: absolute;
  z-index: -1;
  border-radius: inherit;
  inset: 0 1px 2px 0;
}

.textWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 778px;
  padding-right: 5.2rem;
}

.textWrapper p {
  font-size: 1.6rem;
}

.textContent {
  grid-column: 2/2;
  display: flex;

  flex-direction: column;
  gap: 3.2rem;
}

.list {
  list-style-position: outside;
  padding-left: 3.2rem;
}

.list p {
  font-size: 1.6rem;
  font-weight: 200;
}

@media (max-width: 820px) {
  .textWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
