.headerHomeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skillsContainer {
  display: flex;
  gap: 5.4rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 72px 32px;
  max-width: 140rem;
  width: 100%;
}

.careerContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  max-width: 140rem;
  align-items: center;
  padding: 72px 32px;
}

.image1 {
  flex: 1;
}

.headerTextContainer {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tittle,
.content {
  font-family: "Radio Canada";
  font-style: normal;
  text-align: start;
}

.tittle {
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 5.8rem;
  margin-bottom: 5rem;
}

.content {
  font-weight: 400;
  font-size: 2.4rem;
  margin-bottom: 4.2rem;
}
