.headerHomeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeContainer1 {
  display: flex;
  flex-direction: row;
  height: 550px;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  box-sizing: border-box;
  max-width: 140rem;
  margin: 0 4rem;
}

.homeContainer2 {
  display: flex;
  flex-direction: row-reverse;
  max-width: 140rem;
  height: 550px;
  justify-content: flex-end;
  align-items: center;
  padding: 0 32px;
  margin: 0 4rem;
  box-sizing: border-box;
}

.headerTextContainer {
  display: flex;
  flex-direction: column;
  width: 42%;
}

.tittle {
  margin-bottom: 30px;
  font-family: "Radio Canada";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 45px;
  text-align: start;
}

.content {
  font-family: "Radio Canada";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  text-align: start;
}

.image1 {
  width: 53%;
  background-size: cover;
  background-position: center;
}

.image2 {
  width: 40%;
  background-size: cover;
  background-position: center;
  margin-right: 8rem;
}

.imageContainer {
  width: 100%;
  height: 100%;
}
