.HeroHomeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0px 32px;
  overflow: hidden;
  /* filter: blur(164px); */
}

.skillsContainer,
.careerContainer {
  max-width: 140rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.skillsContainer {
  justify-content: center;
  gap: 3.2rem;
}

.careerContainer {
  flex-direction: row-reverse;
}

.textContent,
.imageContainer {
  flex: 1 1 0;
}

.textContent {
  display: flex;
  flex-direction: column;
}

.imageContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.image1 {
  position: relative;
  margin-right: -120px;
  max-width: 120%;
}

.image2 {
  margin-left: -120px;
  max-width: 120%;
}

.tittle,
.paragraph {
  font-family: inherit;
  font-style: normal;
  text-align: start;
  max-width: 42ch;
}

.tittle {
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 5.8rem;
  margin-bottom: 5rem;
  max-width: 21ch;
}

.paragraph {
  font-weight: 400;
  line-height: 2.9rem;
  font-size: 2.4rem;
  margin-bottom: 4.2rem;
}

@media (max-width: 960px) {
  .skillsContainer,
  .careerContainer {
    align-items: center;
    flex-direction: column;
  }

  .imageContainer {
    margin: 0;
  }

  .tittle,
  .paragraph {
    text-align: center;
    max-width: 100%;
  }
  .tittle {
    font-size: 3.2rem;
    line-height: 3.8rem;
  }

  .image1,
  .image2 {
    min-width: 100%;
    margin: 0;
  }
  .image1 {
    margin-bottom: 50px;
  }
}
