.swiperContainer {
  display: flex;
  /* height: fit-content; */
  margin: 72px 0;
  height: 100vh;
  /* max-height: 100vh; */
  /* background-color: red; */
}

@media (max-width: 960px) {
  .swiperContainer {
    height: auto;
  }
}
