@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

.AboutSection {
  display: flex;
  place-content: center;
}

.container {
  display: flex;
  max-width: 1089px;
  background-color: #212;
  font-family: "Radio Canada", sans-serif;
  gap: 40px;
}

.alight {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.title {
  color: #046ad0;
  font-family: "Radio Canada", sans-serif;
}

.text {
  color: #f9f9f9;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  padding: 5px;
  font-family: "Radio Canada", sans-serif;
  max-width: 40ch;
}

.galaxia {
  flex: 1;
  object-fit: contain;
  background: url("/assets/fill-effect.webp") no-repeat cover top 69px right -70px;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    width: 100%;
    padding: 72px 32px;
    align-items: center;
  }

  .title {
    text-align: left;
  }

  .text {
    max-width: 100%;
  }
}
