@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

.AboutSection {
  display: flex;
  place-content: center;
}

.container {
  display: flex;
  justify-content:center;
 max-width: 108.9rem;
  font-family: "Radio Canada", sans-serif;
  gap: 4rem;
}

.alight {
  display: flex;
  flex-direction: column;
  gap: 1.9rem;
  background-image: url("/assets/Ellipse.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 40%;
}

.title {
  color: #046ad0;
  font-family: "Radio Canada", sans-serif;
  font-size: 4.8rem;
  max-width: 10ch;
  font-weight: 700;
}

.text {
  color: #f9f9f9;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-family: "Radio Canada", sans-serif;
  max-width: 40ch;
}

/* .galaxia {
  flex: 1;
  object-fit: contain;
  background: url("/assets/fill-effect.webp") no-repeat cover top 69px right -70px ;
} */
.galaxia {
  flex: 1;
  background-image: url("/assets/fill-effect.webp");
  background-position: 35% 45%;
  background-size: 130%;
  background-repeat: no-repeat;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    width: 100%;
    padding: 7.2rem 3.2rem;
    align-items: center;
  }

  .title {
    text-align: left;
    max-width: 100%;
    font-size: 3.2rem;
  }

  .text {
    max-width: 100%;
  }
}
