@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


.container{
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 72px 176px;
gap: 100px;
width: 110vw;
height: auto;
background-color: #046AD0;
margin: auto;
font-family: 'Radio Canada', sans-serif;
}



.leftSide{
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 19px;
width: 429px;
height: 254px;
color:rgba(4, 106, 208, 1);

}

.h1, .p{
  color: rgba(249, 249, 249, 1)
}

.paragraph{
    align-items: left;
    weight: 400;
    font-size: 14px;
    Line-height: 16.8px;
    padding: 5px;
    color: rgba(249, 249, 249, 1)
}

.p{
    align-items: left;
    weight: 400;
    font-size: 14px;
    Line-height: 16.8px;
    padding: 5px;
   
    
}

.rightSide{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;
width: 559px;
height: auto;
color: rgba(4, 106, 208, 1);
}


.rightSide h3{
    position: relative;
    color: rgba(249, 249, 249, 1);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    }

 .textJr, .textMentor,.textSupporter, .textCommunity {
    width: 100%;
    border-left: 3px solid #fff;
    padding-left: 10px;
 }   

/*Linha abaixo do h3*/
.border{
    content: "";
    position: absolute;
    border-bottom: 1px solid rgba(249, 249, 249, 1);
    width: 80%;
    bottom:0px;
    
   }

   /*Estilização dos botões*/

   .btn{
    border: none;
    background: none;
    color: rgba(249, 249, 249, 1);
   }

   .button{
    background-color: #046AD0;
    border: 1px solid rgba(249, 249, 249, 1);
    border-radius: 5px;
    color:rgba(249, 249, 249, 1);
    padding: 15px;
   }

   .button:hover{
    background-color: rgba(1, 76, 151, 1);
    cursor: pointer;
    border: none;
   }

   /*Borda esquerda dos containers*/

  

   /*Responsividade*/

   @media (max-width: 900px) {
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300vw;
        height: auto;
        margin: 0;
    }

    .leftSide{
        display: flex;
        flex-direction: column;
        align-items: left;
        max-width: 100vw;
    }

    .leftSide p{
        text-align:left
            }
   
    .rightSide{
        width: 100vw;
        align-items: center;
        
    }

      }