.ParticipationSection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 72px 32px;
  background-color: #046ad0;
}

.container {
  display: flex;
  max-width: 1089px;
  gap: 40px;
  font-family: "Radio Canada", sans-serif;
}

.leftSide {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 19px;
  width: 489px;
  height: 254px;
  /*width: 45.9rem;
  height: 25.4rem;*/
  color: rgba(4, 106, 208, 1);
}

.h1 {
  font-size: 32px;
}

.h1,
.p {
  color: rgba(249, 249, 249, 1);
}

.paragraph {
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  font-family: "Radio Canada", sans-serif;
  color: rgba(249, 249, 249, 1);
}

.hidden {
  display: none;
  color: #fff;
}

.p {
  display: inline-block;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 10px;
  gap: 8px;
  font-size: 12px;
  line-height: 16.8px;
  margin-left: 2px;
}

.rightSide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  width: 589px;
  height: auto;
  color: rgba(4, 106, 208, 1);
}

.rightSide h2 {
  position: relative;
  color: rgba(249, 249, 249, 1);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}

.hide {
  width: 100%;
  padding-left: 10px;
}

.textJr,
.textMentor,
.textSupporter,
.textCommunity {
  width: 100%;
  border-left: 3px solid #fff;
  padding-left: 10px;
  transition: ease-out 0.1s;
}

.btn {
  border: none;
  background: none;
  color: rgba(249, 249, 249, 1);
  margin-right: 30px;
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
  content: "";
  border-bottom: 2px solid rgba(249, 249, 249, 1);
  padding-bottom: 16px;
  bottom: 0px;
}

.btn svg {
  width: 20px;
  height: 20px;
}

.button {
  background-color: #046ad0;
  border: 1px solid rgba(249, 249, 249, 1);
  border-radius: 5px;
  color: rgba(249, 249, 249, 1);
  padding: 15px;
  transition: ease 0.15s;
}

.button:hover {
  background-color: rgba(1, 76, 151, 1);
  cursor: pointer;
  border: 1px solid transparent;
}

.p,
.button {
  opacity: 0;
  transform: translateY(-10px);
  transition: 0.3s ease-in;
  animation: p 0.3s forwards;
}

@keyframes p {
  to {
    opacity: 1;
    transform: initial;
  }
}

/*Responsividade*/

@media (max-width: 960px) {
  .container {
    flex-direction: column;
    max-width: 100%;
  }

  .leftSide {
    flex-direction: column;
  }

  .leftSide p {
    text-align: left;
    padding-bottom: 40px;
    line-height: 21px;
  }

  .rightSide {
    max-width: 100%;
    align-items: center;
    font-size: 16px;
  }

  .leftSide .paragraph {
    display: none;
  }

  .leftSide .hidden {
    display: flex;
  }
}
