.ParticipationSection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 72px 32px;
  background-color: #046ad0;
}

.container {
  display: flex;
  max-width: 109.9rem;
  gap: 4rem;
  font-family: "Radio Canada", sans-serif;
}

.leftSide {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 1.9rem;
  flex: 1;
  color: rgba(4, 106, 208, 1);
}

.h1 {
  font-size: 3.2rem;
}

.h1,
.p {
  color: rgba(249, 249, 249, 1);
}

.paragraph {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.7rem;
  font-family: "Radio Canada", sans-serif;
  color: rgba(249, 249, 249, 1);
}

.hidden {
  display: none;
  color: #fff;
  width: 100%;
}

.p {
  display: inline-block;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 1rem;
  gap: 0.8rem;
  font-size: 1.4rem;
  line-height: 1.6rem;
  margin-left: 2rem;
  font-weight: 40.0rem;
  margin-top: 2rem;
  
}

.rightSide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 3.2rem;
  width: 58.9rem;
  height: auto;
  color: rgba(4, 106, 208, 1);
}

.rightSide h2 {
  position: relative;
  color: rgba(249, 249, 249, 1);
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.6rem;
}

.hide {
  width: 100%;
  padding-left: 1rem;
}

.textJr,
.textMentor,
.textSupporter,
.textCommunity {
  width: 100%;
  border-left: 0.3rem solid #fff;
  padding-left: 1rem;
  transition: ease-out 0.1s;
}

.btn {
  border: none;
  background: none;
  color: rgba(249, 249, 249, 1);
  margin-right: 3rem;
  width: 100%;
  display: flex;
  gap: 3rem;
  justify-content: flex-start;
  align-items: center;
  content: "";
  border-bottom: 0.2rem solid rgba(249, 249, 249, 1);
  padding-bottom: 1.6rem;
  bottom: 0px;
}

.btn svg {
  width: 2rem;
  height: 2rem;
}

.button {
  background-color: #046ad0;
  border: 0.1rem solid rgba(249, 249, 249, 1);
  border-radius: 0.5rem;
  color: rgba(249, 249, 249, 1);
  padding: 1.5rem;
  transition: ease 0.15s;
  margin-left: 2.5rem;
}

.button:hover {
  background-color: rgba(1, 76, 151, 1);
  cursor: pointer;
  border: 0.1rem solid transparent;
}

.p,
.button {
  opacity: 0;
  transform: translateY(-10px);
  transition: 0.3s ease-in;
  animation: p 0.3s forwards;
}

.indent ::before {
  content: " ";
  padding-left: 5rem;
}

@keyframes p {
  to {
    opacity: 1;
    transform: initial;
  }
}

/*Responsividade*/

@media (max-width: 960px) {
  .container {
    flex-direction: column;
    max-width: 100%;
  }

  .leftSide p {
    text-align: left;
    padding-bottom: 4rem;
    line-height: 2.1rem;
  }

  .rightSide {
    max-width: 100%;
    align-items: center;
    font-size: 1.6rem;
  }

  .leftSide .paragraph {
    display: none;
  }

  .leftSide .hidden {
    display: flex;
    font-size: 1.4rem;
  }
}
