.OccupationSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 102px 0;
  background-color: #212;
}

.OccupationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1088px;
}

.titlePrimary {
  color: #046ad0;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 38px;
}

.paragraph {
  text-align: center;
  max-width: 90ch;
  font-weight: 400;
  margin-bottom: 48px;
  line-height: 150%;
  color: #f9f9f9;
}

.itemContainer {
  display: flex;
  gap: 16px;
  max-width: inherit;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.itemContainer::-webkit-scrollbar {
  display: none;
}

.item {
  display: flex;
  flex-direction: column;
  color: #fff;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 159px;
  height: 146px;
  background-color: #046ad0;
  border-radius: 10px;
  transition: all ease-in 0.5s;
}

.item p {
  margin-top: 10px;
}

.arrowContainer {
  margin-top: 30px;
  padding: 20px;
  display: flex;
  gap: 42px;
}

.arrowContainer button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.arrowContainer button:first-child img {
  transform: rotate(180deg);
  border: 0;
}
