.OccupationSection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 95px 15px;
  background-color: #212;
  background: url("/assets/fill-effect.webp") no-repeat top 69px right -70px;
}

.OccupationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 108.9rem;
  overflow-x: hidden;
}

.titlePrimary {
  color: #046ad0;
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 3.8rem;
  margin-bottom: 3.8rem;
}

.paragraph {
  font-size: 1.8rem;
  text-align: center;
  max-width: 90ch;
  font-weight: 400;
  margin-bottom: 4.8rem;
  line-height: 150%;
  color: #f9f9f9;
}

.itemContainer {
  display: inline-flex;
  flex-direction: row;
  gap: 1.6rem;
  max-width: inherit;
  overflow: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.itemContainer::-webkit-scrollbar {
  display: none;
}

.item {
  display: flex;
  flex-direction: column;
  color: #fff;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 15.9rem;
  height: 14.6rem;
  background-color: hsl(210, 70%, 25%);
  border-radius: 1rem;
  transition: ease 5s;
}

.item p {
  margin-top: 1rem;
}

.arrowContainer {
  margin-top: 3rem;
  padding: 2rem;
  display: flex;
  gap: 2.3rem;
}

.arrowContainer button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.arrowContainer button:first-child img {
  transition: ease-in 3s;
  transform: rotate(180deg);
  border: 0;
}

.arrowContainer button:hover:last-child {
  background-image: url("/assets/button-directional-light-caroussel.png");
}

.arrowContainer button:first-child:hover img {
  background-image: url("/assets/button-directional-light-caroussel.png");
  transform: rotate(180deg);
}

@media (max-width: 900px) {
  .OccupationSection {
    padding: 4.7rem 1.5rem 9.7rem 1.5rem;
  }

  .OccupationContainer .titlePrimary {
    align-self: flex-start;
    font-size: 3.2rem;
  }

  .paragraph {
    font-size: 1.4rem;
    text-align: left;
    max-width: 100%;
  }

  .itemContainer {
    gap: 1.4rem;
    max-width: 90vw;
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    position: relative;
  }
  .arrowContainer {
    display: none;
  }
}
