.carouselIndicator {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.carouselIndicator span {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin-right: 0.5rem;
  background-color: #ccc;
  cursor: pointer;
}

.carouselIndicator span.active {
  background-color: #000;
}
