.ApoiadorSection,
.bannerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 6rem;
  padding: 0 32px;
  font-family: inherit;
}

.bannerContainer div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.8rem;
}

.bannerContainer p {
  max-width: 64.5ch;
  text-align: center;
}

.container {
  max-width: 108.4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form {
  width: 100%;
  font-family: inherit;
}


.form div{
  padding-top: 2rem;
}

.radios {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  padding: 6rem 0;
  font-size: 18px;
  color: #fff;
}

.radiosContainer {
  display: flex;
  gap: 10px;
}

.button {
  display: flex;
  width: 352px;
  height: 66px;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 24px;
  line-height: 18px;
  font-weight: 300;
  background: #046ad0;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: #ededed;
  padding: 24px 32px;
  margin: 2rem auto;
  gap: 10px;
}

@media (max-width: 960px) {
  .ApoiadorSection,
  .bannerContainer {
    gap: 3.2rem;
  }
  .ApoiadorSection {
    padding: 0 3.2rem;
  }

  .radios {
    gap: 2.4rem;
  }
  .button {
    width: 100%;
  }
}
