.OccupationSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 0 3.2rem;
  padding-right: 0;
  height: 100vh;
  background-color: transparent;
  /* background: url("/assets/fill-effect.webp") no-repeat top -408px right -883px; */
  position: relative;
}

.OccupationSection::before {
  content: "";
  background: url("/assets/logo-background.svg") no-repeat top -333px right -333px;
  background-size: contain;
  position: absolute;
  inset: 0;
  opacity: 0.3;
}

.OccupationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 144rem;
  overflow-x: hidden;
}

.OccupationSection h2 {
  margin-bottom: 5.2rem;
  align-self: flex-start;
}

.OccupationContainer > p {
  padding-right: 3.2rem;
}

.areasContainer {
  display: flex;
  align-items: center;
  max-width: inherit;
  overflow: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding-top: 16.2rem;
  padding-bottom: 5.8rem;
}

.areasContainer::-webkit-scrollbar {
  display: none;
}

.areaItem {
  display: flex;
  flex-direction: column;
  color: #fff;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 15.9rem;
  height: 14.6rem;
  gap: 1rem;
  background-color: hsl(210, 70%, 25%);
  border-radius: 1rem;
  transition: ease 5s;
  cursor: pointer;
}

.areaItem p {
  align-self: center;
}

.arrowContainer {
  display: flex;
  justify-content: center;
  gap: 4.2rem;
  position: relative;
  top: -6rem;
  margin-top: 5.8rem;
}

.arrowContainer button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.arrowContainer button:first-child img {
  object-fit: cover;
  transition: ease-in 3s;
  transform: rotate(180deg);
  border: 0;
}

.arrowContainer button:hover:last-child {
  background-image: url("/assets/button-directional-light-caroussel.png")
    no-repeat;
  object-fit: cover;
}

.arrowContainer button:first-child:hover img {
  background-image: url("/assets/button-directional-light-caroussel.png")
    no-repeat;
  transform: rotate(180deg);
}

@media (max-width: 1450px) {
  .OccupationSection {
    padding-top: 3.2rem;
    position: relative;
    align-items: stretch;
  }
}
@media (max-width: 900px) {
  .OccupationSection {
    position: relative;
    align-items: stretch;
    height: auto;
    padding-right: 0;
  }

  .OccupationSection h2 {
    margin-bottom: 3.2rem;
  }
  .OccupationContainer {
    align-items: flex-start;
  }

  .paragraph {
    font-size: 1.4rem;
    padding: 0 3.2rem;
    max-width: 100%;
  }

  .areasContainer {
    gap: 1.4rem;
    padding: 6.2rem 0;
  }
  .arrowContainer {
    display: none;
  }
}
