.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 9.6rem 3.2rem;
  color: white;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 144rem;
  width: 100%;
}

.mobileMenu {
  display: none;
}

.menu {
  flex: 2;
}

@media (max-width: 1180px) {
  .header {
    padding: 5.6rem 3.2rem;
  }
  .textArea {
    justify-content: space-evenly;
  }

  .textInner {
    margin: 1rem;
  }

  .menu {
    display: none;
  }

  .mobileMenu {
    display: block;
    cursor: pointer;
  }
}

@media (max-width: 414px) {
  .header,
  .textArea {
    flex-direction: column;
  }

  .front {
    width: 100%;
    margin: 0rem;
  }

  .navbar {
    margin-top: 3.8rem;
    margin-bottom: 10.2rem;
  }

  .frontBottom {
    display: flex;
    flex-direction: column-reverse;
  }

  .textArea {
    width: 100%;
  }

  .stars {
    width: 85%;
    top: 8rem;
  }

  .textInner article {
    font-size: 3.8rem;
  }

  .textInner p {
    width: 100%;
    font-size: 2.8rem;
    text-align: center;
  }
}
