.formControl{
  display: flex;
  margin: 0 auto;
  flex-direction: column;


}

.formControl label{

  padding-bottom: 1rem;

}

.formControl input{
  width: 1000px;
  height: 58px;
  
}

.formControl input::placeholder{
  padding-left: 2rem;
}