.menuNav {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 60px;
}

.linkNav {
  font-family: inherit;
  color: #ededed;
  font-weight: 500;
  font-size: 2.4rem;
  padding: 0.8rem;
  transition: 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkNav:hover::after {
  content: "";
  width: 100%;
  border-bottom: 3px solid white;
  bottom: -5px;
  position: absolute;
}

.active {
  display: flex;
  justify-content: center;
  align-self: center;
}
.active::after {
  content: "";
  width: 100%;
  border-bottom: 3px solid white;
  bottom: -5px;
  position: absolute;
}

@media (max-width: 1180px) {
  .menuNav {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0rem;
    position: absolute;
    right: 1rem;
    padding: 0rem 0rem;
    z-index: 99;
    border-radius: 0.25rem;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }

  .linkNav {
    width: 100%;
    font-size: 24px;
    color: #046ad0;
    padding: 3.2rem;
  }

  .linkNav:hover::after {
    border-bottom: none;
  }
  .linkNav:hover {
    color: #021a55;
  }
  .linkNav:not(:last-child) {
    box-shadow: 0 2px 0px 0 white;
  }
  .active {
    border-bottom: 0px;
    color: #021a55;
  }
  .active::after {
    border: none;
  }
}
