@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

.AboutSection {
  display: flex;
  place-content: center;
  padding: 95px 15px;
  background: url(/assets/fill-effect.webp) no-repeat top -428px right -987px;
}

.container {
  display: flex;
  justify-content: center;
  max-width: 110rem;
  width: 100%;
  font-family: inherit;
  gap: 4rem;
}

.alight {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.title {
  font-family: "Radio Canada", sans-serif;
  color: #046ad0;
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 3.8rem;
  margin-bottom: 3.8rem;
}

.text {
  color: #f9f9f9;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-family: "Radio Canada", sans-serif;
  text-align: center;
}

@media (max-width: 900px) {
  .AboutSection {
    padding: 3.2rem;
  }
  .container {
    flex-direction: column;
    width: 100%;
    /* padding: 7.2rem 3.2rem; */
    align-items: center;
  }

  .container .title {
    align-self: flex-start;
    text-align: left;
    max-width: 100%;
    font-size: 3.2rem;
  }

  .text {
    max-width: 100%;
    text-align: left;
    font-size: 1.4rem;
  }
}
