@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size:10px;
  font-family: "Radio Canada", sans-serif;
  color: #f9f9f9;
  background-color: #212;
  /* background-color:rgba(33,33,33,0.78); */
}

a {
  color: inherit;
  text-decoration: none;
}
