.mySwiper{
  width: 100%;
  /* height: 80vh;
  background: grey; */
}

.swiper {
  width: 100%;
  height: 50%;
  
}

.swiper-slide {
  text-align: center;
  font-size: 150px;
  background: #FFF;
  width: 100%;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}


/*Card*/

